.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header__title {
  font-size: 1.6rem;
  line-height: 38px;
  font-weight: 700;
}

.theme__button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 12px;
  letter-spacing: 3px;
  line-height: 38px;
  font-weight: 700;
  color: var(--darkBlue);
}

.theme__button:hover {
  color: var(--blue);
}

.theme__icon {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.LightHeader {
  background: var(--white);
}

.DarkHeader {
  color: var(--white);
}

.DarkHeader .theme__button {
  color: var(--white);
}

@media screen and (max-width: 768px) {
  .header {
    gap: 16px;
  }

  .header__title {
    font-size: 1.2rem;
  }

  .theme__button {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 480px) {
  .header__title {
    font-size: 1.2rem;
  }

  .theme__button {
    font-size: 0.8rem;
  }
}
