@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

:root {
  /*LIGHT MODE*/
  --lightBlue: #60abff;
  --blue: #0079ff;
  --red: #f74646;
  --darkBlue: #4b6a9b;
  --gray: #697c9a;
  --white: #f6f8ff;
  --transparent: #fefefe;
  --black: #2b3442;
  --duration: 0.2s;

  /*DARK MODE*/
  --darkGray: #141d2f;
  --dark: #1e2a47;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--white);
  color: var(--black);
  transition: background-color var(--duration), color var(--duration);
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AppLight {
  background-color: var(--white);
}

.AppDark {
  background-color: var(--darkGray);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  max-width: 1000px;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  overflow: hidden;
}

.header__search__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
}

.user__card__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .App {
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
}

@media screen and (max-width: 500px) {
  .App {
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }

  .container {
    padding: 0 10px;
    overflow: hidden;
  }
}

@media screen and (max-width: 300px) {
  .App {
    min-width: 100%;
    min-height: 100vh;
    overflow: hidden;
  }

  .container {
    padding: 0 10px;
    overflow: hidden;
  }
}
